


<canvas id="scene"></canvas>
<canvas id="video" width="640" height="480"></canvas>
<video id="webcam" autoplay playsinline></video>
<div id="score">
  <span id="score-l">0</span>&nbsp;<span id="score-r">0</span>
</div>

<div id="handy"></div>

<div id="pause">PAUSED</div>
