<div class="CookieBar" id="CookieBar">
		<h5 class="CookieBar_title">🍪 Policy</h5>

    <p class="small">
      Questo sito utilizza <b>cookie tecnici</b> e di <b>profilazione</b>, anche di terze parti, per inviarti pubblicità e servizi in linea con le tue preferenze da te manifestate durante la navigazione.
    </p>
    <p class="small">
      <b>Chiudendo questo banner, scorrendo questa pagina o cliccando qualunque suo elemento acconsenti all’uso dei cookie.</b>
    </p>
    <p class="small">
      Se vuoi saperne di più sull’utilizzo dei cookie e leggere come disabilitarne l’uso, <b>leggi la nostra informativa</b> estesa sull’uso dei cookie cliccando <a href="https://www.parmalat.it/privacy-policy#Cookie?onlycontent=2" target="_blank">quì</a>
    </p>

    {{ buttonSecondary( { label: 'Accetta', url: counter.relation, classes: 'CookieBar_accept' } ) }}
</div>
