{% from 'macro/buttons/button.njk' import button %}

{%- macro buttonBig(config = {}) -%}
  {%- set config = config|extendDefault( {
    baseClass: "ButtonBig",
    labelClasses: "ButtonLabelBig"
  } ) -%}
  {{ button(config) }}
{%- endmacro -%}

{%- macro buttonPrimaryBig(config = {}) -%}
  {%- set config = config|extendDefault( {
    theme: "ButtonPrimary"
  } ) -%}
  {{ buttonBig(config) }}
{%- endmacro -%}

{%- macro buttonSecondaryBig(config = {}) -%}
  {%- set config = config|extendDefault( {
    theme: "ButtonSecondary"
  } ) -%}
  {{ buttonBig(config) }}
{%- endmacro -%}
